<footer class="container4">

    <div class="footer-content container5">
        <h2>Hungry for more Stories?</h2>
        <br />
        <h3>Follow us for more!</h3>
        <br />
        <div class="favicons">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-reddit"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>
        <hr />    
        <br />
        <h2>Travel Love</h2>
        <br />
        <h3>™ 2024 Developed by Lou Miranda</h3>
        <br />
        <div class="favicons2">
            <a href="https://www.linkedin.com/in/lou-miranda/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="mailto:mirandajohnlouie13@gmail.com"><i class="fa-solid fa-envelope"></i></a>
        </div>

    </div>

</footer>
<script>
    document.addEventListener('DOMContentLoaded', function () {
    const hamburgerMenu = document.getElementById('hamburger-menu');
    const mobileMenu = document.getElementById('mobile-menu');

    hamburgerMenu.addEventListener('click', function () {
        mobileMenu.classList.toggle('active');
    });
});
</script>
</body>
</html>