@import url('../node_modules/font-awesome/css/font-awesome.min.css'); 
@import '~font-awesome/css/font-awesome';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
/* Hamburger Menu Styles */
.hamburger-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    padding: 10px;
}

.hamburger-menu:hover {
    color: #f0f0f0;
}

/* Mobile Menu Styles */
.mobile-menu {
    display: none;
    position: absolute;
    top: 60px; /* Adjust based on navbar height */
    right: 0;
    background-color: #333;
    width: 100%;
    z-index: 1000;
}

.mobile-menu a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid #444;
    transition: background-color 0.3s ease;
}

.mobile-menu a:hover {
    background-color: #555;
}

/* Show the mobile menu when toggled */
.mobile-menu.active {
    display: block;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: #B43F3F;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 150px;
    padding-right: 150px;
    align-items: center;
}

.item-left a {
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: #F8EDED;
}

.item-right a {
    text-decoration: none;
    font-size: 20px;
    color: #F8EDED;
}

.menu3{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
}

.menu3 li {
    margin-left: 20px;
    display: block;
    height: 100%;
    position: relative;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu3 li:after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    display: block;
    transition: all 0.3s ease;
    bottom: 0;
  }
  .menu3 li:hover::after {
    width: 100%;
    height: 1.5px;
    background-color: #fff;
  }

.first-section {
    background: url("/images/image1.jpg") no-repeat;
    overflow: hidden;       /* Hide the overflow */
    height: 650px;          /* Set your desired height */
    width: 100%;            /* make the image not stretched*/
    color: #FFFFFF;
    padding-left: 400px;
    padding-right: 400px;
}

.section1-content {
    text-align: center;
}

.section1-content h1 {
    font-size: 50px;
    margin-bottom: 3px;
}

#welcome-paragraph {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 15px;
}

#welcome-paragraph2 {
    font-size: 21px;
    margin-bottom: 25px;
}

.welcome-button {
    font-size: 20px;
    padding: 15px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    background-color: #B43F3F;
    color: #FFFFFF;
}

.welcome-button:hover {
    background-color: #3FB4B4;
    transition: 0.4s;
    font-size: 21px;
    color: #fff;
    border: 1px solid #fff;
}

.second-section {
    background-color: #F8EDED;
    width: 100%;
    height: 650px;
}

.container2 {
    background-color: #ffffff;
    width: 100%;
    height: auto;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.container3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px; /* Adjust this to add space between rows */
    color: #F8EDED;
}

.card {
    background-color: #B43F3F; /* Example background color for the items */
    width: 100%;
    height: 750px;
    overflow: hidden;
    border-radius: 10px;
}

#card-image {
    object-fit: cover;
    width: 100%; /* Maintain aspect ratio */
    height:  350px; /* Maintain aspect ratio */
    display: block;
    margin: 0 auto; /* Center the image horizontally */
    margin-bottom: 25px;
    transition: transform .2s ease-in-out;
}

#card-image:hover {
    transform: scale(1.1);
}

.card-text {
    padding-left: 20px;
    padding-right: 20px;
}

#card-author {
    font-size: 13px;
}

#card-title {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 20px;
}

#card-paragraph {
    margin-bottom: 20px;
    flex: 1; /* Allow the paragraph to take available space */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5; /* Limit to 6 lines */
    overflow: hidden;
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

.card-button {
    font-size: 20px;
    padding: 15px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    background-color: #B43F3F;
    color: #FFFFFF;
}

.card-button:hover {
    background-color: #3FB4B4;
    transition: 0.2s;
    font-size: 21px;
    color: #fff;
    border: 1px solid #fff;
}

.container4 {
    padding-left: 150px;
    padding-right: 150px;
    width: 100%;
    height: 400px;
    background-color: #B43F3F;
    overflow: hidden;
    color: #F8EDED;
}

.container5 {
    text-align: center;
    padding-top: 50px;
    
}

.favicons {
    margin-bottom: 50px;
}

.favicons > a{
    margin-left: 20px;
    font-size: 35px;
    list-style: none;
    color: #F8EDED;
    transition: 0.4s;
}

.favicons > a:hover{
    color: #3FB4B4;
}

.favicons2 > a{
    margin-left: 20px;
    font-size: 25px;
    list-style: none;
    color: #F8EDED;
    transition: 0.4s;
}

.favicons2 > a:hover{
    color: #3FB4B4;
}

form {
    margin-top: 50px;
}
  
.feedback-input {
    color: #000;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #B43F3F;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}
  
.feedback-input:focus {
    border: 2px solid #B43F3F;
}
  
textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"] {
    width: 100%;
    background: #B43F3F;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}
[type="submit"]:hover {
    background: #3FB4B4;
}

/* General table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

/* Table header styling */
th, td {
    padding: 12px 15px;
}

/* Table header background and text color */
th {
    background-color: #B43F3F;
    color: #ffffff;
    font-weight: bold;
}

/* Table body styling */
tr {
    border-bottom: 1px solid #dddddd;
}

/* Alternating row background colors */
tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tr:nth-of-type(odd) {
    background-color: #ffffff;
}

/* Hover effect for rows */
tr:hover {
    background-color: #f1f1f1;
}

/* Table container styling */
.table-container {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fafafa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Media Query for mobile devices */
@media (max-width: 480px) {

    .container {
        display: flex;
        justify-content: space-between;
        background-color: #B43F3F;
        padding-top: 35px;
        padding-bottom: 35px;
        padding-left: 40px;
        padding-right: 40px;
        align-items: center;
    }

    .menu3 {
        display: none;
        padding: 0;
        margin: 0;
    }

    /* Hamburger Menu Styles */
    .hamburger-menu {
    display: block;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    }

    .hamburger-menu:hover {
    color: #f0f0f0;
    }

/* Mobile Menu Styles */
.mobile-menu {
    display: none;
    position: absolute;
    top: 100px; /* Adjust based on navbar height */
    right: 0;
    background-color: #333;
    width: 100%;
    z-index: 1000;
}

/* Show the mobile menu when toggled */
.mobile-menu.active {
    display: block;
}

.mobile-menu a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid #444;
    transition: background-color 0.3s ease;
}

.mobile-menu a:hover {
    background-color: #555;
}

.container2 {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.container3 {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    margin-top: 40px;
    margin-bottom: 40px;
}

.card {
    margin-bottom: 35px;
}

#card-paragraph {
    margin-bottom: 20px;
    flex: 1; /* Allow the paragraph to take available space */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5; /* Limit to 6 lines */
    overflow: hidden;
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

#card-title {
    font-size: 27px;
}

.container4 {
    padding-left: 40px;
    padding-right: 40px;
}

.container2 > table {
    overflow: hidden;
    padding: 0;
}

.container2 > table th {
    font-size: 10px;
}

.container2 > table td {
    font-size: 10px;
}

.container2 > table > tbody > tr > td > img {
    width: 50px;
}

.container2 > table > tbody > tr > td > a > button {
    font-size: 10px;
}

.container2 > table > tbody > tr > td > form > button {
    font-size: 10px;
}

.manage-blog {
    padding: 5px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.first-section {
    background-position: center;
        
}

}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    
    .container {
        display: flex;
        justify-content: space-between;
        background-color: #B43F3F;
        padding-top: 35px;
        padding-bottom: 35px;
        padding-left: 40px;
        padding-right: 40px;
        align-items: center;
    }

    .container > .item-right > .menu3 li a {
        margin: 0;
        font-size: 17px;
    }

    .first-section {
        display: flex;
        align-items: center;
        padding-top: 35px;
        padding-bottom: 35px;
        padding-left: 40px;
        padding-right: 40px;
            
    }

    .section1-content > .welcome-text {
        font-size: 38px;
        margin-bottom: 10px;
    }

    .section1-content > #welcome-paragraph {
        font-size: 18px;
        margin-bottom: 18px;
    }

    .section1-content > #welcome-paragraph2 {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .container2 {
        padding-left: 40px;
        padding-right: 40px;
    }

    .container3 {
        display: inline-block;
        padding-left: 0;
        padding-right: 0;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .card {
        margin-bottom: 35px;
    }

    #card-paragraph {
        margin-bottom: 20px;
        flex: 1; /* Allow the paragraph to take available space */
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5; /* Limit to 6 lines */
        overflow: hidden;
        text-overflow: ellipsis; /* Add ellipsis for overflow text */
    }

    #card-title {
        font-size: 27px;
    }

    .container4 {
        padding-left: 40px;
        padding-right: 40px;
    }

    .container2 > table {
        overflow: hidden;
    }

    .container2 > table th {
        font-size: 12px;
    }

    .container2 > table td {
        font-size: 12px;
    }

}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {

    .container {
        display: flex;
        justify-content: space-between;
        background-color: #B43F3F;
        padding-top: 35px;
        padding-bottom: 35px;
        padding-left: 80px;
        padding-right: 80px;
        align-items: center;
    }

    .first-section {
        display: flex;
        align-items: center;
        padding-top: 35px;
        padding-bottom: 35px;
        padding-left: 80px;
        padding-right: 80px;
            
    }

    .container3 {
        display: inline-block;
        padding-left: 0;
        padding-right: 0;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .container2 {
        padding-left: 80px;
        padding-right: 80px;
    }

    .card {
        margin-bottom: 35px;
    }

    .container4 {
        padding-left: 80px;
        padding-right: 80px;
    }

    .container2 > table {
        overflow: hidden;
    }

    .container2 > table th {
        font-size: 15px;
    }

    .container2 > table td {
        font-size: 15px;
    }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {

    .container {
        display: flex;
        justify-content: space-between;
        background-color: #B43F3F;
        padding-top: 35px;
        padding-bottom: 35px;
        padding-left: 150px;
        padding-right: 150px;
        align-items: center;
    }

    .first-section {
        display: flex;
        align-items: center;
        padding-top: 35px;
        padding-bottom: 35px;
        padding-left: 150px;
        padding-right: 150px;
            
    }

    .container2 {
        padding-left: 80px;
        padding-right: 80px;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    #card-paragraph {
        margin-bottom: 20px;
        flex: 1; /* Allow the paragraph to take available space */
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3; /* Limit to 6 lines */
        overflow: hidden;
        text-overflow: ellipsis; /* Add ellipsis for overflow text */
    }

    #card-title {
        font-size: 27px;
    }

    .container4 {
        padding-left: 120px;
        padding-right: 120px;
    }
}

@media (min-width: 1281px) {

    .first-section {
        display: flex;
        align-items: center;
        padding-top: 35px;
        padding-bottom: 35px;
        padding-left: 150px;
        padding-right: 150px;
            
    }

    .container2 {
        padding-left: 80px;
        padding-right: 80px;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    #card-title {
        font-size: 27px;
    }

}